if error
    h1 #{error}

form(method="post")
    input(type="email", name="username", placeholder="email")
    input(type="password", name="password", placeholder="password")
    button(type="submit") Log in
